<h2>Contact List</h2>
<table class="table table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let contact of contacts">
            <td>{{contact.contactid}}</td>
            <td>{{contact.contactname}}</td>
            <td>{{contact.contactemail}}</td>
            <td>{{contact.contactnumber}}</td>
            <td>
              <button class="btn btn-danger" (click)="deleteContact(contact.contactid)">Delete</button>
            &nbsp;
              <button class="btn btn-info" (click)="editContact(contact.contactid)">Update</button>
            </td>
        </tr>
    </tbody>
  </table>